<mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center" >
        <div>
            <button mat-icon-button (click)="emit(); sendSideNav()" *ngIf="!deviceXs">
                <mat-icon>{{ visible ? 'close' : 'menu' }}</mat-icon>
            </button>
            <button mat-button routerLink="" style="font-size: 30px;" *ngIf="(deviceLg || deviceXl)">Journey</button>
        </div>
        <div>
            <button mat-button routerLink="" style="font-size: 30px;" *ngIf="!(deviceLg || deviceXl)">Journey</button>
        </div>
        <div>
                <button mat-icon-button *ngIf="!user" routerLink="/account/login">
                    <mat-icon>login</mat-icon>
                </button>
                <button mat-icon-button *ngIf="user" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
                <button mat-button *ngIf="deviceXs" [mat-menu-trigger-for]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">
        <mat-icon>home</mat-icon>
        Home
    </button>
    <button mat-menu-item *ngIf="!user" routerLink="/account/login">
        <mat-icon>login</mat-icon>
        Login
    </button>
    <button mat-menu-item *ngIf="user" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
    </button>
</mat-menu>
