.logo{
    padding: 0px 5px;
    font-size: 20px;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
}

.nav-link-menu {
    display: block;
    padding: .5rem 1rem;
    color: #000000;
}

:host ::ng-deep.mat-icon {
    vertical-align: middle !important;
 }