<div class="trip-list-header-info" *ngIf="!isChecked">
    <div class="trip-list-header-back">
        <a herf="" style="cursor: pointer">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </div>
    <div class="trip-list-header-content">
        <h3 class="trip-list-header-title">
            {{Title}}
        </h3>
        <span (click)="slideToggle.toggle()" style="cursor:pointer" class="edit">
            Edit
        </span>
        <mat-slide-toggle 
            #slideToggle 
            class="trip-list-header-edit" 
            color="primary" 
            style="display: flex" 
            [(ngModel)]="isChecked" 
            (click)="emit(); sendIsChecked()"
            routerLink="/schedule/edit/{{titleId}}"
            skipLocationChange
            >
            
        </mat-slide-toggle>

        <div class="trip-list-header-date">
            <div style="width: calc(100% - 30px); display: inline-block;">
                <div>{{fromDate}}<span> - </span>{{endDate}}</div>
            </div>
            
        </div>
        <div class="trip-list-member">
            <button mat-icon-button style="text-align:left">
                <mat-icon style="font-size: 39px;">face</mat-icon>
            </button>
        </div>
    </div>
</div>
<mat-tab-group class="trip-list-header-day-container" *ngIf="!isChecked">
    <mat-tab *ngFor="let day of day; let i = index">
        <ng-template mat-tab-label>
            {{ day.date}}
            <br>
            {{ day.day}}
        </ng-template>
    </mat-tab>
</mat-tab-group>
<app-list-content [dayContent]="day"></app-list-content>
