<div class="tab">
    <h1>Hi {{user.firstName}}!</h1>
    <span><h1 style="font-size: 45px;">行程</h1></span>
    <mat-tab-group class="">
        <mat-tab label="我的行程">
            <div class="add-trip">
                <button mat-raised-button color="primary" style="float: right; outline:none;" (click)="openDialog()"><mat-icon>add</mat-icon><span class="aligned-with-icon">新增行程</span></button>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-around stretch">
                <mat-card *ngFor="let trip of (trips | keyvalue) ;let i = index" [routerLink] = "['/schedule', titleId[i]]" style="cursor: pointer">
                    <mat-card-header>
                        <mat-card-title>
                            {{ trip.value.title }}
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        {{ trip.value.fromDate }}<span> ~ </span>{{ trip.value.endDate }}
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="旅遊群組">
        </mat-tab>
    </mat-tab-group>
</div>