<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav mode="side" class="toolbar-sidenav" [(opened)] = "opened" [mode]="(isHandset$ | async) ? 'over' : 'side'">
        Left navigation!!
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="map-frame" *ngIf="isAuthenticated">
            <div id="map"></div>
        </div>
        <app-login *ngIf="!isAuthenticated"></app-login>
        <app-message-area *ngIf="isAuthenticated"></app-message-area>
        <router-outlet *ngIf="isAuthenticated"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
