<mat-card>
    <h2 class="title">Register</h2>
    <mat-card-content>
        <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="secondFormGroup" [editable]="false">
                <mat-card>
                    <mat-card-content>
                        <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmitEmail()">
                            <ng-template matStepLabel>自訂密碼</ng-template>
                            <mat-form-field>
                                <input matInput placeholder="Email" formControlName="username" [(ngModel)]="tokenName" required>
                                <mat-error>
                                  Please provide a valid email address
                                </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                <input matInput type="password" placeholder="Password" formControlName="password" required>
                                <mat-error>
                                    <div *ngIf="!f1.password.errors?.required">Please provide a valid password</div>
                                    <div *ngIf="f1.password.errors?.required">Password must be at least 6 characters</div>
                                </mat-error>
                            </mat-form-field>
                            <button mat-button matStepperNext>註冊</button>
                            <!--<button mat-raised-button [disabled]="loading" color="primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Register
                            </button>-->
                            <a routerLink="../login" style="cursor: pointer; margin-left: 25px;">Cancel</a>
                        </form>
                    </mat-card-content>
                </mat-card>
            </mat-step>
            <mat-step>
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>輸入驗證碼</ng-template>
                    <mat-form-field>
                        <input type="text" value="{{tokenName}}" style="display: none;">
                        <input matInput placeholder="驗證碼" formControlName="verify" required>
                        <mat-error>
                            請輸入驗證碼
                        </mat-error>
                    </mat-form-field>
                    <button mat-button (click)="navigation()" (ngSubmit)="onSubmitToken()">送出</button>
                    <a routerLink="../login" style="cursor: pointer; margin-left: 25px;">Cancel</a>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>
