<mat-card>
    <h2 class="title">Register</h2>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="First Name" formControlName="firstName" required>
                <mat-error>
                    Please provide a valid First Name
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="lastName" required>
                <mat-error>
                    Please provide a valid Last Name
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username" required>
                <mat-error>
                    Please provide a valid Username
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error>
                    <div *ngIf="f.password.errors?.required">Please provide a valid password</div>
                    <div *ngIf="f.password.errors?.minlength">Password must be at least 6 characters</div>
                </mat-error>
            </mat-form-field>
            <button mat-button color="primary" [disabled]="loading">註冊</button>
            <a routerLink="../login" style="cursor: pointer; margin-left: 25px;">Cancel</a>
        </form>
    </mat-card-content>
</mat-card>

