<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sideNav mode="side" class="toolbar-sidenav" [(opened)] = "opened" [mode]="(isHandset$ | async) ? 'over' : 'side'">
    Left navigation!!
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Log In</h2>
          <mat-error *ngIf="loginInvalid">
            The username and password were not recognised
          </mat-error>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="username" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary">Login</button>
          <a routerLink="/account/register" style="position: absolute; right: 25px; bottom: 7px;">Register</a>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
