<div class="trip-list-header-info"  *ngIf="isChecked">
    <div class="trip-list-header-back">
        <a herf="" style="cursor: pointer">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </div>
    <div class="trip-list-header-content">
        <div class="trip-list-header-title-container">
            <input type="text"class="trip-list-header-title edit-mode" value=Title [(ngModel)]="Title">
        </div>
        <span (click)="slideToggle.toggle()" style="cursor:pointer" class="edit">
            Edit
        </span>
        <mat-slide-toggle 
            #slideToggle 
            class="trip-list-header-edit" 
            color="primary" 
            style="display: flex" 
            [(ngModel)]="isChecked" 
            (click)="emit(); sendIsChecked();"
            routerLink="/schedule/{{titleId}}"
            skipLocationChange>
            
        </mat-slide-toggle>

        <p class="trip-list-header-date">
                <input type="date" value=fromDate [(ngModel)] = fromDate (keyup.enter)="isChange()" (blur)="isChange()">  -  {{endDate}}
        </p>
        <div class="trip-list-member">
            <button mat-icon-button style="text-align:left">
                <mat-icon style="font-size: 39px; outline:none;">face</mat-icon>
            </button>
        </div>
    </div>
</div>

<mat-tab-group 
    class="trip-list-header-day-container-edit-mode" 
    *ngIf="isChecked" 
    [selectedIndex]="selected" 
    (selectIndexChange)="selected">
        <mat-tab *ngFor="let day of day; let i = index">
            <ng-template mat-tab-label>
                {{ day.date }}
                <br>
                {{ day.day }}
                <div class="delete">
                    <button mat-icon-button [disabled]="selected === 1" (click)="removeTab(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <button mat-mini-fab color="primary" style="top: 16px; outline:none;" (click)="addTab(selected)">
                    <mat-icon >add</mat-icon>
                </button>
            </ng-template>
        </mat-tab>
</mat-tab-group>
<app-list-content-edit [dayContent] = "day"></app-list-content-edit>
