/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/leaflet/dist/leaflet.css";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
html,
body{
    height:100%;
}

body{
    margin:0;
}

#map{
    height:80;
}

a { cursor: pointer; }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}